<li class="nav-item">
    <a class="nav-link" asp-controller="Candidate" asp-action="Profile">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Candidate Profile</span>
    </a>

    <a class="nav-link" asp-area="CANDIDATE" asp-controller="Candidate" asp-action="ReadyForExam">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Take Examination</span>
    </a>
</li>